@import "tailwindcss";

:root {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Inter, Helvetica, Arial, sans-serif;

  background-color: #0b0e14;
  color: #ffffff;

  width: 100%;
  min-height: 100vh;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
}

body {
  overflow-x: hidden;
}

/* IMPORTANTE: nada de display:flex no body */
a {
  color: inherit;
  text-decoration: none;
}

::selection {
  background: rgba(249, 115, 22, 0.35);
  color: #ffffff;
}